@import "../mixins";

@include placeholder {
  color: rgba(30, 111, 147, 0.7) !important;
  font-style: italic;
  font-weight: 100;
}

.form-question-checkbox {
  -webkit-overflow-scrolling: touch;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  max-height: calc(99% - 0);
  min-width: 90vw;
  overflow-y: auto;
  padding: 10px 20px 0;

  @media (max-width: 767px) {
    margin-left: 0;
  }

  & > .title {
    font-size: 24px;
    font-weight: bold;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}

.question-checkbox {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0;
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: row;
  }
}

.question-checkbox-input {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  & > .question-checkbox-input-option {
    align-items: center;
    background-color: rgba(30, 111, 147, 0.2);
    border: rgba(30, 111, 147, 0.7) solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    margin: 10px;
    margin-bottom: 0;
    max-width: 100%;
    min-height: 40px;
    padding: 0;
    position: relative;
    word-break: break-word;

    &:hover {
      min-height: 48px;
    }

    & > span {
      padding: 4px 12px 4px 0;

      @media (max-width: 767px) {
        font-size: 16px !important;
        line-height: 24px;
        margin: 0;
      }
    }

    & > .reduced {
      align-items: center;
      background-color: #fff;
      border: rgba(30, 111, 147, 0.7) solid 1px !important;
      border-radius: 2px;
      display: flex;
      font-size: 12px;
      justify-content: center;
      margin: 10px;
      min-height: 22px;
      min-width: 22px;

      & > span {
        display: flex;
      }
    }

    & > .extended {
      -webkit-animation: all 150ms linear;
      align-items: center;
      animation: all 150ms linear;
      background-color: #fff;
      border: rgba(30, 111, 147, 0.7) solid 1px !important;
      border-radius: 2px;
      display: none;
      font-size: 12px;
      justify-content: center;
      left: -55px;
      margin: 10px;
      min-height: 22px;
      min-width: 22px;
      position: absolute;
      top: 0;
      width: 80px;
    }

    & > .icon-container {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: flex-end;
      width: 40px;

      & > svg {
        color: rgba(16, 72, 102, 1);
        position: absolute;
        right: 10px;
      }
    }

    & > span {
      font-size: 20px;
    }

    &.active {
      background-color: rgba(16, 72, 102, 0.25);
      border: rgba(16, 72, 102, 1) solid 2px !important;
    }

    &.active-dsb {
      background-color: rgba(16, 72, 102, 0.25);
      border: rgba(16, 72, 102, 1) solid 2px !important;
    }

    @media (min-width: 769px) {
      &:hover {
        background-color: rgba(16, 72, 102, 0.25);
        border: rgba(16, 72, 102, 1) solid 2px !important;

        & > span {
          margin-left: 44px;
        }

        & > .reduced {
          display: none;
        }

        & > .extended {
          display: flex;
        }
      }
    }

    &:focus {
      background-color: rgba(16, 72, 102, 0.25);
      border: rgba(16, 72, 102, 1) solid 2px !important;

      & > span {
        margin-left: 44px;
      }

      & > .reduced {
        display: none;
      }

      & > .extended {
        display: flex;
      }
    }
  }
}
