@import "../mixins";

@include placeholder {
  color: rgba(30, 111, 147, 0.7) !important;
  font-style: italic;
  font-weight: 100;
}

.form-question-date {
  -webkit-overflow-scrolling: touch;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-height: calc(99% - 0);
  min-width: 90vw;
  overflow-y: auto;
  padding: 10px 20px 0;

  @media (max-width: 767px) {
    margin-left: 0;
  }

  & > .title {
    font-size: 24px;
    font-weight: bold;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}

.question-date {
  padding: 20px 20px 0;
  width: 100%;
}

.question-date-input {
  -webkit-appearance: none !important;
  -webkit-font-smoothing: antialiased !important;
  background: none !important;
  border: 0;
  border-bottom: rgba(16, 72, 102, 0.4) solid 1px !important;
  border-image: initial !important;
  border-radius: 0 !important;
  box-shadow: rgba(195, 132, 197, 0.3) 0 1px !important;
  color: rgb(30, 111, 147) !important;
  display: block !important;
  font-family: inherit !important;
  font-size: 30px !important;
  line-height: unset !important;
  outline: none !important;
  padding: 0 0 8px !important;
  transform: translateZ(0) !important;
  transition: box-shadow 0.1s ease-out 0s !important;
  width: 100% !important;

  &:focus {
    border-bottom: rgba(16, 72, 102, 1) solid 2px !important;
  }
}
