.page-form {
  height: 100% !important;

  & > .form-area {
    height: 100% !important;

    & > .form-container {
      height: 100% !important;

      & > .form-container-area {
        height: 100% !important;
      }
    }
  }
}

.slick-slider {
  height: 100% !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}

.slick-list {
  height: 100% !important;
  padding: 0 !important;

  .slick-track {
    height: 100% !important;
  }
}

.slick-active { z-index: 999; }

.slick-arrow {
  display: none !important;
}

.scrollable-area {
  min-height: calc(99% - 0) !important;
  //overflow-y: auto;

}

.slick-slide {
  //align-items: center;
  justify-content: flex-end;
  display: flex !important;
  height: 99% !important;

  & > div {
    height: 100% !important;

    & > div {
      align-items: safe center;
      display: flex !important;
      justify-content: flex-start;
      margin: auto;
      width: 100% !important;
      height: 100% !important;

      & > div {
        display: flex;
        align-items: center;
        height: 100% !important;
      }
    }
  }
}
