@import "../mixins";

@include placeholder {
  color: rgba(30, 111, 147, 0.7) !important;
  font-style: italic;
  font-weight: 100;
}

.form-question-group {
  -webkit-overflow-scrolling: touch;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-height: calc(99% - 0);
  min-width: 90vw;
  overflow-y: auto;
  padding: 10px 20px 0;

  @media (max-width: 767px) {
    margin-left: 0;
  }

  & > .title {
    font-size: 24px;
    font-weight: bold;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}

.question-group {
  padding: 20px 20px 0;
  width: 100%;
}
