.page-intro {
  -webkit-justify-content: space-between;
  align-items: center;
  display: flex;
  height: 99%;
  justify-content: center;
  margin: auto;
}

.page-form {
  & > .form-area {
    & > .overlay-navigation {
      bottom: 0;
      display: flex;
      flex-direction: row;
      left: 0;
      max-width: 100vw;
      position: fixed;
      width: 100vw;

      & > .navigation-area {
        align-items: flex-end;
        display: flex;
        flex-flow: column wrap;
        height: 40px;
        justify-content: flex-end;
        width: 100vw;

        & > .navigation-container {
          -webkit-flex-grow: 1;
          align-items: center;
          background-color: #fff;
          border-radius: 5px;
          display: flex;
          flex-grow: 1;
          height: 30px;
          max-width: 100vw;
          opacity: 1;
          padding: 10px;

          @media (max-width: 767px) {
            justify-content: flex-end;
            width: 100vw;
          }

          & > .progress-container {
            display: block;
            padding-right: 20px;
            width: 250px;

            & > div {
              & > .progress {
                font-size: 0.6rem;
                height: 10px;
              }
            }
          }

          & > .reduced {
            -webkit-animation: all 150ms linear;
            align-items: center;
            animation: all 150ms linear;
            background-color: #fff;
            border: rgba(30, 111, 147, 0.7) solid 1px;
            border-radius: 5px;
            display: flex;
            height: 25px;
            justify-content: center;
            margin-right: 5px;
            opacity: 1;
            width: 30px;

            &:hover {
              background-color: rgba(16, 72, 102, 0.25);
              border: rgba(16, 72, 102, 1) solid 2px !important;
            }

            &.disabled {
              opacity: 0.5;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}

.page-feedback {
  align-items: center;
  display: flex;
  height: 99%;
  justify-content: center;
  margin: auto;
}
