body{
  background-color: white !important;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

* {
  overscroll-behavior: contain;
  outline: none !important;

  &::-webkit-scrollbar {
    display: none;
    width: 6px;
    height: 4px;
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-corner {
    display: none;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
    background: #7d97ad;
    border: 0 none #ffffff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    display: none;
    background: #666;
    border: 0 none #ffffff;
    border-radius: 50px;
  }
}

button {
  background-color: rgba(30, 111, 147, 0.8) !important;
  border-color: rgba(30, 111, 147, 0.8) !important;
  margin-bottom: 20px !important;

  &:focus {
    border-color: rgba(16, 72, 102, 1) !important;
    border-width: 2px !important;
    font-weight: bold !important;
  }

  &:hover {
    border-color: rgba(16, 72, 102, 1) !important;
    border-width: 2px !important;
    font-weight: bold !important;
  }
}

a {
  color: rgba(16, 72, 102, 1) !important;
}

.progress {
  background-color: #d6d6d6 !important;
  font-size: 10px !important;

  & > .progress-bar {
    background-color: rgba(30, 111, 147, 0.8) !important;
  }
}

.animatable {
  width: 100%;
  background: inherit;
  will-change: transform;
  transition: transform 0.35s ease;
  &>div {
    height: 100%;
  }
}

.btn-primary {
  margin-top: 30px;
}

.btn-invisible {
  display: none !important;
}

.btn-invisible {
  display: flex;
}

.loading-container {
  width: 100%;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animatable.prepare {
  /* we do this so we can tell when the "preparing" was done
     since there seems to be a browser bug where the preparation still takes
     time, even with `transition: none;` */
  transition-duration: 0.0000000000001s;
  opacity: 0;
}

.animatable.prepare.from.left {
  transform: translateX(-110%);
}
.animatable.prepare.from.right {
  transform: translateX(110%);
}
.animatable.prepare.to.left {
  transform: translateX(-1px);
}
.animatable.prepare.to.right {
  transform: translateX(1px);
}

.animatable:not(.prepare).to {
  pointer-events: none;
}
.animatable:not(.prepare).to.left {
  transform: translateX(-110%);
}
.animatable:not(.prepare).to.right {
  transform: translateX(110%);
}
.animatable:not(.prepare).from {
  transform: translateX(0);
}


@import "assets/scss/index";
